*{
    margin:0;
    padding:0;
    text-decoration:none;
}
*,
*:before,
*:after {

  transition-property: transform, opacity, filter;
  transition-duration: 600ms, 600ms, 600ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}





.sec1{


    background: url(Resources/Images/Kary.jpg) no-repeat;
    background-size: cover;
    background-position:  center center;
    background-attachment: fixed;

    
}
.Our_Story_Piece{
    background: white;
}


.Our_Story_Piece p,.Our_Philosphy_Piece p,.Our_Team_Piece p{
    padding:6% 1%;
    text-align: center;
}

#Our_Story_Logo{
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 5.05vw;
}

#Our_Story_Heading{
    letter-spacing: .05em;
    font-size: 130%;
    font-family:Comfortaa;
    font-weight: 100;
    margin-left: 8vw;
}

#Our_Story_Underline{
    width: 5vw;
    border:2px solid #77FF03;
    margin-left: 10vw;
}

.sec2{
     background: url(../Images/Nationwide_Our_Story.jpg) no-repeat;
     background-size:cover;
     background-position:  center center;
     background-attachment: fixed;
     padding: 5%;
 }


 #Sec2_Nationwide_Heading{
     color:white;
     z-index: 100;
     letter-spacing: .2em;
     font-size: 60px;
     text-align:  center;
 }


 .Our_Philosphy_Piece{
    background: white;
}

#Our_Philosphy_Underline{
    width: 5vw;
    border:2px solid #77FF03;
    margin-left: 10.5vw;
}

#Our_Philosphy_Heading{
    letter-spacing: .05em;
    font-size: 130%;
    font-family:Comfortaa;
    font-weight: 100;
    margin-left: 6vw;
    padding: 12% 0 0 1%;
}


 .sec3{
     background: url(../Images/makeup3.jpg) no-repeat;
     background-size:cover;
     background-position:  center center;
     background-attachment: fixed;
     padding: 5% 0;
     box-sizing:  border-box;
}

 #Sec3_Beauty_Products_Heading{
    color:white;
    z-index: 100;
    letter-spacing: .2em;
    font-size: 60px;
    padding: 0;
    text-align:  center;
 }

 .Our_Team_Piece{
    background: white;
}

#Our_Team_Heading{
    letter-spacing: .05em;
    font-size: 130%;
    font-family:Comfortaa;
    font-weight: 100;
    padding: 15% 0 0 1%;
    margin-left:  8vw;
}



#Our_Team_Underline{
    width: 5vw;
    border:2px solid #77FF03;
    margin-left: 10vw;
}


#Our_Team_Container,Our_Team_Container_Member_Area{

    background:#77FF03;
    
}

.Members_Image{
    min-height: 20vh;
    height: 40vh;
    min-width: 15vw;
    width: 20vw;
    margin-left:-1vw;


}

.MemberImage{
    background:white;
    width: 20vw;
    top: 2vh;
    float:left;
    height: 80vh;
    padding-top: 5%;
    border: 1px solid #77FF03;
    padding-bottom: 7%;
    padding-left: 3%;
    /* display: none; */
    opacity:0;
    border-radius: 15px;
    transition: opacity 0.6s ease;

}

.MemberImage.active{
    /* display:block; */
    opacity:1;
}



@media screen and (min-width:33.75em){ /*540px*/

    .container.full{
      width: 109vw;
      max-width: 147vw;
      
    }

    .top-logo-and-tag a {
        margin-top: -5.5vh;
        position: relative;
        z-index: 2000000000000;
    }

    img#Our_Story_Logo {
        margin-top: 6vh;
        margin-left: 29vw;
    }

    h1#Our_Story_Heading ,  h1#Our_Philosphy_Heading , h1#Our_Team_Heading {
        text-align: center;
    }


    hr#Our_Story_Underline , hr#Our_Philosphy_Underline, hr#Our_Team_Underline  {
        margin-left: 52vw;
    }

    h1#Sec2_Nationwide_Heading {
        font-size: 40px;
    }

    html#ecwid_html body#ecwid_body .ecwid-search-widget__input, html#ecwid_html body#ecwid_body .ecwid-search-widget__input[type="search"], html#ecwid_html body#ecwid_body .ecwid-search-widget__input[type="text"]{
        width: 83% !important;
    }


    
} 


@media only screen and (min-width:60em) {
    .container {
      width: 90%;
      max-width: 90rem;
    }
    
    .container.full-width {
        width: 110%;
        margin-left: -5vw;
        max-width: 200rem;
    }
  }


 