*{
    margin:0;
    padding:0;
    text-decoration: none;
}


@media only screen and (min-width:60em) {
    .container {
      width: 90%;
      max-width: 90rem;
    }
    
    .container.full-width {
        width: 110%;
        margin-left: -5vw;
        max-width: 200rem;
    }
  }

#All_Brands_Heading{
    position:relative;
    margin-top: 32%;
    font-size: 130%;
    color:black;
    font-weight: 700;
    font-family: dosis;
    text-align: center;
}

#All_Brands_Container{
    margin-top: 5%;
}

#All_Brands_Container ul{
    margin-left: 5%;
    margin-top: 1%;
    list-style: none;
}

#All_Brands_Container li {
    padding:3%;
    box-sizing: border-box;
}

#All_Brands_Container li a{
    color: #77FF03;
    cursor: pointer;
}

#All_Brands_Container ul ul li{
    display: none;
}

#All_Brands_Container ul ul li.show{
    display: block;
}

#All_Brands_Container ul ul li a{
    color:#424242;
    font-weight: 400;
    font-size: 100%;
   
}

#All_Brands_Container ul ul li{
    display: none;
}

