*{
    margin:0;
    padding:0;
    text-decoration: none;
}
*,
*:before,
*:after {
  transition-property: transform, opacity, filter;
  transition-duration: 600ms, 600ms, 600ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@media only screen and (min-width:60em) {
    .container {
      width: 90%;
      max-width: 90rem;
    }
    
    .container.full-width {
        width: 110%;
        margin-left: -5vw;
        max-width: 200rem;
    }
  }

  .grid-display [class^="col"] {
    background: #FBCED1;
    border: 1px solid #FE7880;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}




.Main_Image_Container{
    margin-left:1.7vw;
}




#Message_Container{
    background: #77FF03;
}





#Ireland_Map{
    background:white;
}


#Store_Point1 {
    color: orange;
    background: white;
    border-radius: 50%;
    position: relative;
    top: -20vh;
    left: 24vw;
}
#Clonmel_Store_Map_Location{font-family:Caveat;font-weight:300;font-size: 25px;top: -18vh;left: 20vw;position:  relative;}
#Store_Point2{
    color: orange;
    background:white;
    border-radius:50%;
    position:  relative;
    top: -40vh;
    left: 25vw;
}
#Dundalk_Store_Map_Location{font-family:Caveat;font-weight:300;position:  relative;font-size: 25px;top: -37vh;left: 21vw;}
#Store_Point3{
    color: orange;
    background:white;
    border-radius:50%;
    position: relative;
    top: -30vh;
    left: 10vw;
}
#Tullamore_Store_Map_Location{font-family:Caveat;font-weight:300;position:  relative;font-size:  25px;top: -27vh;left: 5vw;}
#Store_Point4{
    color:orange;
    background:white;
    border-radius:50%;
    position:  relative;
    top: -50vh;
    left: -3vw;
}
#Store_Map_Location{
    font-family:Caveat;
    font-weight:300;
    position:  relative;
    font-size:  25px;
    top: -47vh;
    left: -6.5vw;
}

#Message_Heading{
    font-family:Poiret One;
    font-weight:200;
    font-size:50px;
    text-align:  center;
}

.Contact_Form{
    background: #77FF03;
    padding-bottom: 10vh;
    
}





#form1{padding: 2%;margin-top:  5vh;margin-left: 5vw;}


#Name_Input,#Email_Input,#Subject_Input,#Teaser_Input{
    padding: 3%;
    
}




#Name_Input::placeholder,#Email_Input::placeholder,#Subject_Input::placeholder,#Teaser_Input::placeholder,#Message_Input::placeholder{

    outline:none;
}

#Message_Input::placeholder{
    position:relative;
    padding-left:2%;
    bottom: 2%;
}
textarea{
    border:none;
    outline:none;

}

#Message_Input{

    padding-right: 40%;
    padding-bottom: 10%;

    border:none;
    outline:none;
}
#Checkbox_Newsletter_Button_Heading{

    color:white;
}
#Checkbox_Newsletter_Button{
margin-right: .2vw;

}

#Submit_Message_Button{

    border-radius:15px;
    background:white;
    border: 1.5px solid white;
    color: #77FF03;
    font-size:15px;
    padding: 2% 20%;
    float: right;
    margin-right: 5vw;
}

#Error_Message_Label{

    text-align: center;

    color:white;
    font-size: 50px;

}

#Error_Message_Button{
    text-align: center;
    padding:8px;
    border-radius:15px;
    background:white;
    border: 1.5px solid white;
    color: #77FF03;
    font-size:15px;
    

}



/* ********************************************** */

.Banner_Contact_Us{
    background:white;
    padding-top: 4vh;
    margin-top: -4vh;
    border-top: 1px solid #77FF03;
    border-bottom: 1px solid #77FF03;
}



#Number_Four{
    float: left;
    font-size:60px;
    color:#77FF03;
    margin-top: -2vh;
}

#Symbol_Plus{

    color:#77FF03;
    font-size:25px;
}

#Four_Pharmacies{
    position: relative;
    top: .5vh;
    left:.5vw;
}

#Number_One_Details{

    font-size:13px;
    font-family:Quicksand;
    color:#757575;
}



.fa-phone{
    float: left;
    color: #77FF03;
}

.phone{
    padding:3%;
}

#Number_Two_Details{

    font-size:13px;
    font-family:Quicksand;
    color:#757575;
}

.envelope{
    padding:3%;
}



.fa-envelope{
 float:left;
    color: #77FF03;
}

#Number_Three_Details{
    position: relative;
    margin-left: .5vw;
    font-size:13px;
    font-family:Quicksand;
    color:#757575;
}
#Number_Three_Details em{
    margin-left: .5vw;
    
}
#Number_Three_Details span{
    left: 3vw;
    top: -3vh;
    position: relative;
}


.clock{
    padding:0 2% 0 0;
    margin-top: .5vh;
}




.fa-clock{
    margin-left: 5vw;
    color:#77FF03;
}

#Number_Four_Details{
    position: relative;
    top: -2vh;
    font-size:13px;
    color:#757575;
    font-family:Quicksand;
}
/* ************************************************************************* */


        .Stores{
            position: relative;
            top: 10vh;
        }

        .Stores1{
            position: relative;
            margin-top: 20vh;
        }


        #Store_No1, #Store_No2,#Store_No3, #Store_No4{

            background:white;
            box-shadow: 6px 3px 4px 6px rgba(0, 0, 0, 0.3);
            height: 42vh;
        }


        #Store_No1_Image,#Store_No2_Image,#Store_No3_Image,#Store_No4_Image{

            width: 20vw;
            height: 42vh;
            margin: 0;
            padding:  0;
        }

        #Circular_Logo_Store_No1,#Circular_Logo_Store_No2,#Circular_Logo_Store_No3,#Circular_Logo_Store_No4{
            border-radius:50%;
            border: 1px solid #BDBDBD;
            height: 9vh;
            width: 5vw;
            position: relative;
            left: 8vw;
            top: -32vh;
        }



        #Store_No1_Details,#Store_No2_Details,#Store_No3_Details{
            float:  right;
            margin-top: -33vh;
            position: relative;
            left: -3vw;
        }


        #Store_No4_Details{
            float: right;
            margin-top: 10vh;
            position: relative;
            left: -7vw;
        }

        #Store_No1_Marker,#Store_No2_Marker,#Store_No3_Marker,#Store_No4_Marker{
            color:white;
            background:#77FF03;
            border: 1px solid #77FF03;
            border-radius:50%;
            padding:4px 6px;
            float:left;
            margin-right: .2vw;
        }

        #Store_No1_Marker_Heading,#Store_No2_Marker_Heading,#Store_No3_Marker_Heading,#Store_No4_Marker_Heading{
            font-size: 12px;
            color:#757575;
            margin-left: 2.5vw;
        }

        #Actual_Address,#Actual_Address2,#Actual_Address3,#Actual_Address4{
            font-size:10px;
            float: right;

        }


        #Store_No1_Phone, #Store_No2_Phone, #Store_No3_Phone, #Store_No4_Phone{
            color:white;
            background:#77FF03;
            border: 1px solid #77FF03;
            border-radius:50%;
            padding:4px 6px;
            float: left;
            margin-top: 1vh;
            margin-right: .2vw;
        }

        #Store_No1_Phone_Heading,#Store_No2_Phone_Heading,#Store_No3_Phone_Heading,#Store_No4_Phone_Heading{
            font-size: 12px;
            color:#757575;
            
            
        }

        #Actual_Phone,#Actual_Phone2,#Actual_Phone3,#Actual_Phone4{
            font-size:10px;
            
        }
        #Store_No1_Envelope,#Store_No2_Envelope,#Store_No3_Envelope,#Store_No4_Envelope{
            color:white;
            background:#77FF03;
            border: 1px solid #77FF03;
            border-radius:50%;
            padding:4px 6px;
            margin-right: .2vw;
        }

        #Store_No1_Envelope_Heading,#Store_No2_Envelope_Heading,#Store_No3_Envelope_Heading,#Store_No4_Envelope_Heading{
            font-size: 12px;
            color:#757575;
        }
        #Actual_Email,#Actual_Email2,#Actual_Email3,#Actual_Email4{
            font-size:10px;
        }

        #Store_No1_Clock,#Store_No2_Clock,#Store_No3_Clock,#Store_No4_Clock{
            margin-left: -.1vw;
            float: left;
            color:white;
            background:#77FF03;
            border: 1px solid #77FF03;
            border-radius:50%;
            padding:4px 6px;
            margin-right: .2vw;
        }

        #Store_No1_Clock_Heading,#Store_No2_Clock_Heading,#Store_No3_Clock_Heading,#Store_No4_Clock_Heading{
            margin-left: -.1vw;
            font-size: 12px;
            color:#757575;
        }

        #Actual_Clock, #Actual_Clock2, #Actual_Clock3, #Actual_Clock4{
            font-size:10px;
            float: left;
        }

/* ********************************************************************** */




        


        .Map_Locations{
            padding: 6vh 2vw 4vh 2vw;
            text-align: center;
        }

        #Store_Locator_Heading{
            font-family: quicksand;
            font-weight: 500;
            font-size: 30px;
            


            
        }
        #Store_Locator_Marker{
            
            color:white;
            background:#77FF03;
            border: 1px solid #77FF03;
            border-radius:50%;
            padding:7px 10px;
            margin-right: 2vw;
            
        }

        

       
        


