


div#SearchWidget-1 {
    display: none;
}




.Authorization_Links a{
    color:#000;
    font-family: montserrat;
    z-index: 999;
    text-decoration: none;

}

.Authorization_Links a:first-child:after{
	content: " | ";  
}



.green_info{
	font-size: .8em; /* .8em == 16px x .8  */
  color: #76FF03;
	font-weight: bold;
}

.Tel_Number {
  color: #76FF03;
  text-decoration: none;

}

/* This is the code for the icons in the top scetion of the header */

.Social_Icon_Container i{
  margin-left:12%;
  color:#76FF03;
}

.row.bottom_row_border{
    border-bottom: 1.5px solid #76FF03;
    width: 95vw;
    margin-left: 2vw;
}



/* This is the code for the Top Section of the header */


/* This is the code for the header info in the top section of the header */


#Header_Opening_Hours{
    /* font-size:12.75px; */
	font-size: .75em; /* .75em == 16px x .75 = 12px */
    font-family: Raleway;
    color: #76FF03;
    float:left;
}

/* This is the code for the icons in the top scetion of the header */

#Social_Icon_Container .fa-facebook-f{
    margin-left:12%;
    color:#76FF03;
}
#Social_Icon_Container .fa-instagram{
    margin-left:12%;
    color:#76FF03;
}
#Social_Icon_Container .fa-snapchat-ghost{
    margin-left:10%;
    color:#76FF03;
}
 /* This is the end of the  code for the icons in the top section of the header */

/* This is the code for the Middle Section of the header */



.center a{
    display: inline-block;
	text-decoration: none;
}


.top-logo-and-tag a img {
  width: 86%;
}

.top-logo-and-tag a span{
	display: inline-block;
	vertical-align: middle;
    font-size: 2.5em;
    font-family: Bitter;
    color:#76FF03;
}

.top-logo-and-tag a span+span{
	color: #BDBDBD;
}

.ec-cart-widget{
    
    margin-left:80%;
    margin-bottom: -7vh;
    font-size: 60px;
    color:#76FF03;
}

.ecwid-search-widget--collapsed{
    font-size: 60px;
    color:#76FF03;
}

html#ecwid_html body#ecwid_body .ecwid-search-widget{
    max-width: 102vw ;
    width: 52vw ;
    top: -10vh ;
    left: -15vw ;
  }



/* End of the Middle Section in the header */

/* This is the code for the Navbar in the header*/

/* The fix to the boxes jumping is use margin: -px on hover of what the padding is  */

/* Navbar */
  
  #menu{
    z-index: 1001;
    background:#76FF03;
    
  }
  #menu ul{
    list-style: none;
    margin-left: 8%;
   
    
  }
  #menu ul li{
    float: left;
    margin-right: 0px;
    
  }
  
  #menu ul li:hover a{
    background:white;
    color:#77FF03;
  }
  
  #menu ul li a:first-child{
      border-left: 1px solid white;
  }

  #menu ul li a{
    color: white;
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18.5px;
    font-weight: 700;
    font-family : Quicksand;
    border-right: .25px solid white;
  }

  /* End of Main Navbar */



  /* Beauty Megamenu */
  
  #menu ul li #Beauty_Megamenu{
    position:absolute;
    padding:28%;
    left:2vw;
    min-height:2vh;
    background: #FFF;
    display: none;
    z-index: 257;
  }
  #Beauty_Megamenu_Title{
      position:relative;
      margin-top: -38vh;
      text-align: center;
      color:#76FF03;
      font-family:dosis;
     
  }
  #Beauty_Megamenu_List1_Subtitle,#Beauty_Megamenu_List2_Subtitle,#Beauty_Megamenu_List3_Subtitle,#Beauty_Megamenu_List4_Subtitle,#Beauty_Megamenu_List5_Subtitle{
      color:#757575;
  }
  #Beauty_Megamenu ul li{
    float: none;
    margin-right:0;
  }
 #Beauty_Megamenu ul li:hover a{
    color: #e74c3c;
    background: white;
  }
 #Beauty_Megamenu ul li a{
    padding: 10px 15px;
    text-transform: capitalize;
    color: #77ff03;
  }
 #Beauty_Megamenu #Beauty_Megamenu_List1{
    border-right: 2px solid #E0E0E0;
     float: left;
     margin-left: -20vw;
  }

  #Beauty_Megamenu #Beauty_Megamenu_List1 li a{
      color: #76FF03;
      font-weight: 800;
  }

  #Beauty_Megamenu #Beauty_Megamenu_List2 li{
      display: inline-block;
      
  } 
  #Beauty_Megamenu #Beauty_Megamenu_List2 li a ,#Beauty_Megamenu #Beauty_Megamenu_List3 li a {
    color: #BDBDBD;
    border-left :2px solid #76FF03;
    margin-top: 3%;
  }
  

 
  #menu ul li #Beauty_Megamenu img{
    position:absolute;
    left:75%;
    top:0;
    height:100%;
    width:25%;
  }

  /* End of Beauty Megamenu */

  
  #menu ul li #megamenu2{
    position:absolute;
    padding: 7%;
    width:80%;
    left: 10.5%;
    background: #e74c3c;
    display: none;
  }
  
  #menu ul li:hover #megamenu2{
    display: block;
  }
  
  #menu ul li #megamenu2 #first {
    width:13.3%;
    float: left;
    margin-top:-4.5%;
  }
  
  
  
  #menu ul li #megamenu2 #first li{
    display: block;
    width:100%;
    text-align: center;
    
  }
  #menu ul li #megamenu2 #first li:hover a{
    color:#e74c3c;
    background:white;
  }
  #menu ul li #megamenu2 #second li:hover a{
    color:#e74c3c;
    background:white;
  }
  
  #menu ul li #megamenu2 #first li a{
    border: none;
    color: white;
  }
  
  #menu ul li #megamenu2 #second{
    width: 13.3%;
    position : absolute;
    left: 20%;
    top:3%;
   
    
  }
  
  #menu ul li #megamenu2 #second li {
    display: block;
    width:100%;
    text-align: center;
    margin: 2px;
    
    
  }
  
  #menu ul li #megamenu2 #second li a{
    border: none;
    color: white;
    
  }
  
  #menu ul li #megamenu2 img {
    position:absolute;
    left:80%;
    top:10%;
    background: #e74c3c;
    background-blend-mode: multiply;
    
    
  }


.grey_Bottom_Homepage_Bar{
      background: #BDBDBD;
}

.grey_Bottom_Homepage_Bar span {
    color:white;
}

.fa-truck{
    color:white;
	margin-right: .2em;
}

.left span,.center span,.right span {
  font-size: 1em;
  position: relative;
}

.grey_Bottom_Homepage_Bar span.Bottom_Task_Bar_Green_Info{
    color:#76FF03;
	margin-right: .2em;
}
   

span.trustpilot {
    letter-spacing: .2em;
    text-transform: uppercase;
}

.fa-star{
    color: #FDD835;
    
}

.full-green{
    width:100%;
    background:#77ff03;
}


.Mobile_Header,.Nav_Bar_Menu{
    display: none;
}


/* Media Queries */

 @media screen and (min-width:20em) { /*320px*/

    html#ecwid_html {
        width: 100% !important;
        height: 100% !important;
        margin:0 !important;
        padding:0 !important;
        overflow-x: hidden !important;
    }

    .container.full{
      width: 93vw;
      max-width: 100vw;
      
    }
    

    .Mobile_Header{
        display: block;
        margin: -4vh 0;
        background: #77ff03;
        min-height: fit-content;
    }

    span.col-2{
        width: 5vw;
    }

    span.col-2.bars {
        margin-top: 3vh;
        top: 2vh;
        margin-bottom: 0;
        position: relative;
        left: 4vw;
    }

    .top-logo-and-tag a{
        display: inline-block;
        margin-top: -6vh;
        text-decoration: none;
    }

    span.col-2.cart {
        height: 5vh;
        margin-top: -6vh;
        left: 80vw;
        position: relative;
    }


    .Mobile_Header .ec-cart-widget {
        position: relative;
        z-index: 1000;
        font-size: 0px;
        border: 0px !important;
    }





    .Nav_Bar_Menu{
        position: absolute;
        min-width: 100vw;
        width: 100vw;
        min-height: 100vh;
        height: 105vh;
        background:white;
        color:white;
        z-index:6000;
        left: 0;
        top: 0;
        padding-bottom: 5%;
        transform: translateX(-100%);
        transition: transform 0.6s ease;
        display: block;
    }

    .Nav_Bar_Menu.open{
        transform: translateX(0);
    }

    .Dropdown_Nav_Bar_Menu{
        display: none;
    }

    .Dropdown_Nav_Bar_Menu.show{
        display: block;
    }

    #Nav_Close_button {
        position: fixed;
        left: 90vw;
        width: 5vw;
        background: pink;
        top: 3vh;
        color: #77FF03;
        background: white;
        text-align: center;
    }
    #Nav_Phone{
        top: -8vh;
        margin-left: 1vw;
        color: #76FF03;
    }


    .Nav_Bar_Menu ul {
        position: relative;
        left: 2vw;
        top: 2vh;
    }

    .Nav_Bar_Menu ul li{
        padding: 1%;
        margin: 2vh;
        background: white;
        list-style:none;
        width:90vw;
    }
    .Nav_Bar_Menu ul li a{
        color:#76FF03;
        list-style:none;

    }

    .user{
        color: #76FF03;
    }

    .long_word{
        margin-left: -17.5vw;
    }
    .long_word2{
        margin-left: -9.5vw;
    }

    .long_word3{
        margin-left: -3.5vw;
    }

    .first_sorter{
        color: #BDBDBD;
        position:relative;
        left: 58vw;
        
    }

    .first_sorter.flip{
        transform: rotateZ(-180deg);
        transition: transform 0.1s ease; 
    }

    .second_sorter{
        color: #BDBDBD;
        position:relative;
        left: 58vw;
        
    }

    .second_sorter.flip{
        transform: rotateZ(-180deg);
        transition: transform 0.1s ease; 
    }


    #McCormacks_Header_Middle_Section {
        margin-left: -20vw;

    
    }

    span.col-8.top-logo-and-tag.center{
        height: 0vh;
    }

    .top-logo-and-tag a img {
        width: 60%;
        top: -7vh;
    }

    html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__icon, html#ecwid_html body#ecwid_body .ec-minicart--l .ec-minicart__icon, html#ecwid_html body#ecwid_body .ec-minicart--xl .ec-minicart__icon, html#ecwid_html body#ecwid_body .ec-minicart--xxl .ec-minicart__icon {
        height: 36px !important;
        width: 32.4375px !important;
        margin-top: -.5vh !important;
    }



html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__icon .icon-default circle[stroke], html#ecwid_html body#ecwid_body .ec-minicart--l .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--l .ec-minicart__icon .icon-default circle[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xl .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xl .ec-minicart__icon .icon-default circle[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xxl .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xxl .ec-minicart__icon .icon-default circle[stroke] {
    stroke-width: 2.5px !important;
}

    html#ecwid_html body#ecwid_body .ec-minicart--no-shape{
        padding: 0 !important;
    }

    html#ecwid_html body#ecwid_body .ec-minicart__icon .icon-default path[stroke],  html#ecwid_html body#ecwid_body .ec-minicart__icon .icon-default circle[stroke]{
        stroke: white !important;
     }

     html#ecwid_html body#ecwid_body .Mobile_Header .ecwid-search-widget{
        margin: -31vh 0 0 7vw !important;
        top: 22vh !important;
        left: 0vw !important;
        width: 102vw !important;
        max-width: 102vw !important;
        display: inline-block !important;
        border: none !important;
     }

     html#ecwid_html body#ecwid_body .ecwid-search-widget__input, html#ecwid_html body#ecwid_body .ecwid-search-widget__input[type="search"], html#ecwid_html body#ecwid_body .ecwid-search-widget__input[type="text"]{
        width: 83% !important;
    }
    
    .Hamburger_Menu{
        position: relative;
        z-index:1000;
        color:white;
    }



   
}

@media screen and (min-width:33.75em){ /*540px*/

    .container.full{
      width: 100vw;
      max-width: 100vw;
      
    }


      html#ecwid_html body#ecwid_body .ecwid-search-widget__input, html#ecwid_html body#ecwid_body .ecwid-search-widget__input[type="search"], html#ecwid_html body#ecwid_body .ecwid-search-widget__input[type="text"]{
          width: 83% !important;
      }


    
} 



@media only screen and (min-width: 45em) {  /* 720px */

    .large-hidden{
        display:none;
    }

    span.col-8.top-logo-and-tag.center{
        height: 0vh;
    }

    .center a{
        margin-top: -1vh;
    }
    .top-logo-and-tag a img {
        width: 60%;
        top: -1vh;
        margin-left: 8vw;
    }

    span.col-2.cart {
        height: 5vh;
        margin-top: -1vh;
        left: 70vw;
        position: relative;
    }

    html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__icon .icon-default circle[stroke], html#ecwid_html body#ecwid_body .ec-minicart--l .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--l .ec-minicart__icon .icon-default circle[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xl .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xl .ec-minicart__icon .icon-default circle[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xxl .ec-minicart__icon .icon-default path[stroke], html#ecwid_html body#ecwid_body .ec-minicart--xxl .ec-minicart__icon .icon-default circle[stroke] {
        stroke-width: 2.5px !important;
    }
    html#ecwid_html body#ecwid_body .ec-minicart__icon .icon-default path[stroke],  html#ecwid_html body#ecwid_body .ec-minicart__icon .icon-default circle[stroke]{
        stroke: white !important;
     }


  
}

@media only screen and (min-width: 57.5em) { /* 960px */
    
}

@media screen and (min-width:80em){   /*1280px*/
    div#Hide{
        display: none !important;
      }
      div#Show{
          display: block !important;
      }

      .col-10.top-logo-and-tag.center {
        margin-bottom: -10vh;
    }
      
    .top-logo-and-tag a img {
        left: -1vw;
        top: -3.6vh;
        margin-bottom:1vh;
        width: 71%;
        position: relative;
    }

      html#ecwid_html body#ecwid_body .ecwid-search-widget{
        top: -10vh;
        left: 11vw;
        width: 60vw !important;
        border: none !important;
      }

      .large-hidden{
          display: block !important;
      }

      html#ecwid_html body#ecwid_body .ec-minicart__icon .icon-default path[stroke],  html#ecwid_html body#ecwid_body .ec-minicart__icon .icon-default circle[stroke]{
        stroke: #76FF03 !important;
     }
     .ec-cart-widget{
        position: relative;
        top: -10vh !important;
        left: -2vw;
     }
     #menu ul{
        margin-left: 15%;  
    }


}

@media screen and (min-width:57.5em){
    .ec-cart-widget{
        position: relative;
        top: -6vh;

     }
}

