*{
    margin:0;
    padding:0;
    text-decoration: none;
}

*,
*:before,
*:after {
  transition-property: transform, opacity, filter;
  transition-duration: 600ms, 600ms, 600ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

#Health_Options_Navigation{
    margin-top: 5vh;
    margin-left: 13vw;
    position: relative;
    top: 10vh;
}

#Health_Options_Navigation li {
    display:  inline-block;
    margin-right: 1vw;
}

#Health_Options_Navigation li a {
    font-size: 18.5px;
    font-family: quicksand;
    color: #77FF03;
    border-bottom: 1px solid #77FF03;
}

@media only screen and (min-width:60em) {
    .container.full{
        width: 100vw;
        max-width: 100vw;
    }
    .top-logo-and-tag a img{
        position: relative;
        z-index: 888;
    }
    
    
  }