*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*:before,
*:after {

  transition-property: transform, opacity, filter;
  transition-duration: 600ms, 600ms, 600ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}



.row{
  position: unset !important;
}


#text{
  display: none;
}

#myBtn {
  display: none;
  position: fixed; 
  top: 80%; 
  left: 93%; 
  z-index: 9999998; 
  border: none; 
  outline: none; 
  background: #E91E63; 
  color: white; 
  cursor: pointer; 
  padding: 25px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn,#myBtn:after{

  transition: none;
}

#myBtn:before,
#myBtn:after {
  background:none;
  
}

#myBtn:hover {
  background:white;
  color: #E91E63;
  border: 1px solid #BDBDBD;
}

#aside{
  display: none;
}

aside{
  position:fixed;
  left:0;
  top:25%;
  height:25%;
  width:6%;
  z-index: 4444;
}
aside ul{
  position: relative;
  left:0%;
  top:5%;
}

aside ul li {
  padding: 4%;
  list-style: none;
  
}
aside ul li a{
  position:relative;
  margin-left:20%;

}

.pin,.tweet{
  position: relative;
  left: 6%;
}

.face{
  margin-left: 1vw;
}
.fa-instagram2,.fa-snapchat{
  margin-left:.5vw;
}

#facebook{
  background: #3b5999;
  width:100%;
  padding: 10% 0%;
  position: relative;

}
#pinterest{
  background: #bd081c;
  width:100%;
  padding: 10% 0%;
  position: relative;

}
#twitter{
  background: #55acee;
  width:100%;
  padding: 10% 0%;
  position: relative;

}
#instagram{
  background: #e4405f;
  width:100%;
  padding: 10% 0%;
  position: relative;

}
#snapchat{
  background:#FFFC00 ;
  width:100%;
  padding: 10% 0%;
  position: relative;

}

#snapchat_username{
  display: none;
  position: relative;
  background: #FFFC00;
  width: 60vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  text-align: center;
}

#snapchat_username h3{
  
  width:100vw;
}

#snapchat_username h5 {
  background:white;
  width:100vw;
}



#Cookie_Banner{
  display: none;
  height:15vh;
  bottom:0;
  left:0;
  position:fixed;
  z-index:9999999;
  width:100vw;
  background: black;
}


#Cookie_Banner span, #Cookie_Banner a {
  top: 6vh;
  position: relative;
  color: white;
  font-family: quicksand;
  font-size: 1em;
}


.Find_Out_More_Link{
  border-bottom: 1px solid white;
  left: 1vw;
  
}

.Accept_And_Close_Button{
  text-decoration: none;
  border-radius: 10px;
  background: #FFB300;
  padding: 1% 1%;
  position: relative;
  top: 5vh !important;
  margin-right: 2vw;
  color: black !important;
  cursor: pointer;
  float: right;
}



#slider{
  position:relative;
  overflow:hidden;
  margin-left: 1px;
  min-width:80vw;
  min-height:100vh;
  background: transparent;

}

 #status{
  position: absolute;
  bottom: 10px;
 z-index: 585;
     display: flex;
     

   
}

#stat{
  
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 11;
  margin: 0px 5px;
  border: 2px solid #BDBDBD;
}

 #stat[data-active] {
  background:#BDBDBD;
}

 #img{
  object-fit: cover;
  object-position: center 80%;
  display:block;
  width:100%;
  height:100%;
  transform: scale(1.1);
}

@media only screen and (min-width: 45em) {  /* 720px */
  #img{
    object-position: center 35%;
    width:100vw;
    height:60vh;
  }
}

#image{
  position: absolute;
  width:100%;
  margin-right:-100%;
  display: none;
  transform: translateX(-100%);
}


#image[data-active] {
  display: block;
  transform: translateX(0);
}


#image[data-active] img {
  transform: scale(1.1);
}


#image[data-active] ~ #image {
  display: none;
  transform: translateX(100%);
}



path{
  fill:transparent;
  stroke:#BDBDBD;
  stroke-width: 3px;
 
}



#next{
 right:10px;
 top:50%;
 margin-top: -30px;
 height: 60px;
 position:absolute;
 z-index: 1000;
 cursor: pointer;
}



#previous{
  position:absolute;
  left:2%;
  transform: rotate(180deg);
  top:50%;
  margin-top: -30px;
  height: 60px;
  z-index: 1000;
  cursor: pointer;
}


.Stay_In_The_Know_Section{

  background:mediumturquoise;

}

#Stay_In_The_Know_Section_Heading{

  font-family: indie flower;
  font-size: 30px;
  z-index: 5454;
  color:mediumturquoise;
  background:white;
  margin-top: 10vh;
  margin-left: 28vw;
  text-align: center;
  border-radius: 15px;
  width: 30vw;
 
  /* min-width: 80vw; */

}



.facebook{
  
  background:#3b5999;
  padding:.6% 1.7% .8% 1.7%;
    float: left;
    margin-right:1vw;
    margin-left: 5vw;
    margin-top: -10vh;
}

.facebook.fa-facebook-f,.instagram.fa-instagram{
  margin-left: 0;
  color: white;
}


.twitter{
float: right;
  background: #55acee;
  padding:.8% 1.2% .8% 1.2%;
   margin-right:5vw;
   margin-left: 1vw;
    margin-top: -10vh; 
    margin-bottom: 5vh;

}



.pinterest{
    float:right;
 padding:.8% 1.2% .8% 1.2%;
  background:#bd081c;
    margin-top: -10vh;
}
.instagram{
  background:#e4405f;
    margin-left: 10vw;
  padding:.8% 1.2% .8% 1.2%;
    float:left;
    margin-top: -10vh;
}

.fa-facebook,.fa-twitter,.fa-pinterest,.fa-instagram2,.fa-snapchat{
  color:white;
}


.extra{
  display:none;
}

div#chatra{
  z-index: 999 !important;
}


.row.Mobile_Footer{
  display: none !important;
}



/* this is the end of the code for the subsections of the website health skincare beauty */

@media screen and (min-width:20em) { /*320px*/

  
#facebook,#pinterest,#twitter,#instagram,#snapchat{
  min-width: 13vw;
}

#facebook,#pinterest,#twitter,#instagram,#snapchat{
  padding: 10% 6%;
}


  #myBtn,.grid-wrapper{
    display: none !important;

  }
  
  .container.full{
    width: 100vw;
    max-width: 100vw;
  }
  
  #previous,#next{
    top:20%;
  }

  #status{
    top: 38%;
    left: 2vw;
  }

  #Cookie_Banner{
    min-height: 20vh;
    height: 20vh;
    min-width: 93vw;
  }

  #Cookie_Banner span{
    width: 30vw;
  }

  #Cookie_Banner span, #Cookie_Banner a {
    
    color:white;
    top: 2vh !important; 
    font-size: .8em;
  }

  
  .Accept_And_Close_Button{
    padding: 1% 1%;
    left: -5vw;
  }



  #slider{
    margin-bottom: -36vh;
    top: 18vh;
  }

    #Popular_Choices_Tag{
      min-width: 40vw;
      font-size: 1em;
    }


   #Popular_Choices_Section_Heading,#Stay_In_The_Know_Section_Heading{
      min-width: 75vw;
      margin-left: 12vw;
      
    }

   #Popular_Choices_Section_Heading,#Popular_Choices_Section_Heading{
      font-size: 28px;
    }

    


    #Stay_In_The_Know_Section_Heading{
      margin-top:2vh;
    }

    .row.Popular_Choices_Section {
      width: 101vw;
      margin-left: 0vw;
  }

    #Popular_Choices_Section_Heading{
      margin-left: 9vw;
      margin-top: 2vh;
      min-width: 75vw;
      
    }

    #Popular_Choices_Section_Sub1, #Popular_Choices_Section_Sub2, #Popular_Choices_Section_Sub3, #Popular_Choices_Section_Sub4 {
      min-width: 42vw;
      min-height: 25vh;
      margin: 1vh 2.06vh 1vh 1vh;
  }

  #Popular_Choices_Section_Sub1_Image, #Popular_Choices_Section_Sub2_Image, #Popular_Choices_Section_Sub3_Image, #Popular_Choices_Section_Sub4_Image{
    height: 33vh;
    width: 18vw;
    margin-left: 12vw;
  }

  #eapps-instagram-feed-1{
    min-width: 90vw !important;
  }

  #Stay_In_The_Know_Section_Social_Media_Container{
    margin-top:3vh;
    margin-left: 23vw;
  }

  .facebook,.instagram,.twitter,.pinterest{
    
    padding-top: 2vh;
    float:none;
    margin-right: 1vw;
  }
  .facebook{
    margin-right:-8vw;
  }

  .row.Mobile_Footer{
    display: block !important;
  }



}


@media screen and (min-width:33.75em) { /* 540px*/

  
  .container.full{
    width: 100vw;
    max-width: 100vw;
  }

  #facebook,#pinterest,#twitter,#instagram,#snapchat{
    min-width: 10vw;
  }
  
  
    #myBtn,.grid-wrapper{
      display: none !important;
  
    }
    
    #previous,#next{
      top:20%;
    }
  
    #status{
      top: 43%;
      left: 2vw;
    }
  
    #Cookie_Banner{
      min-height: 20vh;
      height: 20vh;
      min-width: 93vw;
    }
  
    #Cookie_Banner span{
      width: 30vw;
    }
  
    #Cookie_Banner span, #Cookie_Banner a {
      
      color:white;
      top: 2vh !important; 
      font-size: .8em;
    }
  
    
    .Accept_And_Close_Button{
      padding: 1% 1%;
      left: -5vw;
    }
  
  
  
    .row.Section_Height {
      max-width: 95vh;
      width: 100vh;
      margin-bottom: -30vh;
      display: none;
  }
  
  .col-3.Section_Height {
    width: 75vw;
  }

  
      #Stay_In_The_Know_Section_Heading{
        margin-top:2vh;
      }
  
  
    #eapps-instagram-feed-1{
      min-width: 90vw !important;
    }
  
    #Stay_In_The_Know_Section_Social_Media_Container{
      margin-top:3vh;
      margin-left: 23vw;
    }
  
    .facebook,.instagram,.twitter,.pinterest{
      
      padding-top: 2vh;
      float:none;
      margin-right: 1vw;
    }
    .facebook{
      margin-right:-8vw;
    }
  
    .row.Mobile_Footer{
      display: block !important;
    }
  

}


@media only screen and (min-width: 45em) {  /* 720px */
  
  .container.full{
    width: 100vw;
    max-width: 100vw;
  }

  #facebook,#pinterest,#twitter,#instagram,#snapchat{
    min-width: 10vw;
  }
  
  
    
    #previous,#next{
      top:20%;
    }
  
    #status{
      top: 38%;
      left: 2vw;
    }
  
    #Cookie_Banner{
      min-height: 20vh;
      height: 20vh;
      min-width: 93vw;
    }
  
    #Cookie_Banner span{
      width: 30vw;
    }
  
    #Cookie_Banner span, #Cookie_Banner a {
      
      color:white;
      top: 2vh !important; 
      font-size: .8em;
    }
  
    
    .Accept_And_Close_Button{
      padding: 1% 1%;
      left: -5vw;
    }
  
  
  
    #slider{
      margin-bottom: -8vh;
    }
  
  
    .row.Section_Height {
      max-width: 95vh;
      width: 100vh;
      margin-bottom: -30vh;
      display: none;
  }
  
  .col-3.Section_Height {
    width: 75vw;
  }


  
 
 
    #Stay_In_The_Know_Section_Heading{
        min-width: 75vw;
        margin-left: 12vw;
        
      }
  
  
      #Stay_In_The_Know_Section_Heading{
        margin-top:2vh;
      }
  
  
    #eapps-instagram-feed-1{
      min-width: 90vw !important;
    }
  
    #Stay_In_The_Know_Section_Social_Media_Container{
      margin-top:3vh;
      margin-left: 23vw;
    }
  
    .facebook,.instagram,.twitter,.pinterest{
      
      padding-top: 2vh;
      float:none;
      margin-right: 1vw;
    }
    .facebook{
      margin-right:-8vw;
    }
  
    .row.Mobile_Footer{
      display: block !important;
    }
  
}


@media only screen and (min-width:57.5em) {  /* 920px*/

  .container.full{
    width: 100vw;
    max-width: 100vw;
  }

  #facebook,#pinterest,#twitter,#instagram,#snapchat{
    min-width: 10vw;
  }
  
  
    #myBtn,.grid-wrapper{
      display: none !important;
  
    }
    
    #previous,#next{
      top:20%;
    }
  
    #status{
      top: 38%;
      left: 2vw;
    }
  
    #Cookie_Banner{
      min-height: 20vh;
      height: 20vh;
      min-width: 93vw;
    }
  
    #Cookie_Banner span{
      width: 30vw;
    }
  
    #Cookie_Banner span, #Cookie_Banner a {
      
      color:white;
      top: 2vh !important; 
      font-size: .8em;
    }
  
    
    .Accept_And_Close_Button{
      padding: 1% 1%;
      left: -5vw;
    }
  
  
    .row.Section_Height {
      max-width: 95vh;
      width: 100vh;
      margin-bottom: -30vh;
      display: none;
  }
  
  .col-3.Section_Height {
    width: 75vw;
  }
  
    
  
    #Skincare_Section.full-width,#Health_Section,#Beauty_Section,#Medicines_Section{
      margin-left: 18vw;
      min-width: 14rem;
      max-width: 200rem;
      width: 15rem;
      float: none;
    }
  
    #Skincare_Section,#Health_Section,#Beauty_Section,#Medicines_Section{
      display: none;
    }
 
  
      #Popular_Choices_Tag{
        min-width: 33vw;
        font-size: 1em;
      }

     #Popular_Choices_Section_Heading,#Stay_In_The_Know_Section_Heading{
        min-width: 75vw;
        margin-left: 12vw;
        
      }
  
     #Popular_Choices_Section_Heading,#Popular_Choices_Section_Heading{
        font-size: 28px;
      }
  
     
  
      #Stay_In_The_Know_Section_Heading{
        margin-top:2vh;
      }
  
      .row.Popular_Choices_Section {
        width: 101vw;
        margin-left: 0vw;
    }
  
      #Popular_Choices_Section_Heading{
        margin-left: 12vw;
        margin-top: 2vh;
        min-width: 75vw;
        
      }
  
      #Popular_Choices_Section_Sub1, #Popular_Choices_Section_Sub2, #Popular_Choices_Section_Sub3, #Popular_Choices_Section_Sub4 {
        min-width: 35vw;
        min-height: 25vh;
        margin: 1vh 2.06vh 1vh 12vh;
    }

    #Popular_Choices_Section_Sub1_Image, #Popular_Choices_Section_Sub2_Image, #Popular_Choices_Section_Sub3_Image, #Popular_Choices_Section_Sub4_Image{
      height: 43vh;
      margin-left: 9vw;
    }

  
  
    #eapps-instagram-feed-1{
      min-width: 90vw !important;
    }
  
    #Stay_In_The_Know_Section_Social_Media_Container{
      margin-left: 32vw;
    }
  
    .facebook,.instagram,.twitter,.pinterest{
      
      padding-top: 2vh;
      float:none;
      margin-right: 1vw;
    }
    .facebook{
      margin-right:-8vw;
    }
  
    .row.Mobile_Footer{
      display: block !important;
    }
  
}

@media screen and (min-width:80em){  /*1280px*/
  div#Hide{
    display: none !important;
  }
  div#Show{
      display: block !important;
  }

  #Cookie_Banner span, #Cookie_Banner a{
    color: white;
    top: 7vh !important;
    font-size: 1.1em;
  }

  #slider{
    width: 82vw;
    height: 101vh;
    top: 6vh;
    left: 8vw;

  }

  #status{
    top: 77% !important;
  }

  #previous, #next{
    top: 327.734px;
  }
  
  #Stay_In_The_Know_Section_Heading{
    position: relative;
  }

  #facebook, #pinterest, #twitter, #instagram, #snapchat{
    min-width: 6vw !important;
  }





}

@media screen and (min-width:45em) {
  #status{
    top: 62%;
  }
}
@media screen and (min-width:47em) {
  #status{
    top: 65%;
  }
}

@media screen and (min-width:50em) {

  #facebook,#pinterest,#twitter,#instagram,#snapchat{
    min-width: 10vw;
  }

}






















     

     















 








