*{
    margin:0;
    padding:0;
    text-decoration: none;
}
a{
    text-decoration:none;
}
*,
*:before,
*:after {
 
  transition-property: transform, opacity, filter;
  transition-duration: 600ms, 600ms, 600ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}





b{
    font-weight: 800;
    text-decoration: underline;
    font-size: 18px;
    font-family: Schoolbell;
}
big{
        font-weight: 800;
        font-size: 18px;
    
}
bold{
    font-weight: bold;
    font-size: 16px;
    font-family: Indie Flower;

}
u{
    text-decoration: underline;
}

privacytwo{

    z-index: 888;
   
}

privacythree{

    z-index: 888;
   
}
privacyfour{

    z-index: 888;

    
}
privacyfive{

    z-index: 888;

}

privacysix{

    z-index: 888; 
    
}
cookieimage{
    width:10%;
    height:70%;
    background: pink;
    z-index: 777;
}

cookieimage img{
    position: absolute;
    width: 9%;
    top: 0vh;
    left: 30vw;
}

cookietwo{

    z-index: 888;
}
cookiethree{

    z-index: 888;
}
cookiefour{

    z-index: 888;
}
cookiefive{

    z-index: 888;
}


tandctwo{

    z-index: 888;
}

tandcthree{

    z-index: 888;
}

tandcfour{

    z-index: 888;
}

returntwo{

    z-index: 888;

}
returnthree{

    z-index: 888;

}
returnfour{

    z-index: 888;

}
returnfive{

    z-index: 888;

}
deliverytwo{

    z-index: 888;

}
deliverythree{

    z-index: 888;

}
deliveryfour{

    z-index: 888;

}
deliveryfive{

    z-index: 888;

}

Heading{
    color: #77FF03;
    font-size: 18px;
    font-family: Dosis;
}
Heading2{
    color: #77FF03;
    font-size: 25px;
}


#Overall_Title{

    font-family: Raleway;
    z-index:888;
    color: #77FF03;
}

#Content_1{

    width:100%;
    height:100%;

}


#Content_1_Content{

    font-family: quicksand;
    font-size: 15px;
}



#Content_2{

    width:100%;
    font-family: quicksand;
    font-size: 10px;
    height:100%; 
}

#Content_3{

    width:100%;
    font-family: quicksand;
    font-size: 10px;
    height:100%;

}

#Content_4{

    width:100%;
    font-family: quicksand;
    font-size: 10px;
    height:100%;

}

#Content_5{

    width:100%;
    font-family: quicksand;
    font-size: 10px;
    height:100%;

}

#Content_6{

    width:100%;
    font-family: quicksand;
    font-size: 10px;
    height:100%;

}
